* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-transition: .7s ease-in-out;
  -o-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  outline: none;
  -webkit-animation: all ease 1s;
          animation: all ease 1s;
  background-color: #919191;
}

input::-ms-clear {
  display: none;
}

input {
  outline: 0;
  outline-offset: 0;
}

input::-webkit-input-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}

input::-moz-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  outline: none !important;
}

video:active, video:focus {
  outline: none !important;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.burger__menu {
  width: 400px;
  background-color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  margin-right: -400px;
}

.burger__menu-button {
  position: relative;
  left: 46px;
  top: 48px;
  cursor: pointer;
}

.burger__menu-button:hover path {
  fill: #ADC62C;
}

.burger__menu-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger__menu-logo {
  margin-top: 123px;
}

.burger__menu-links {
  height: 354px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 119px;
}

.burger__menu-link a {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}

.burger__menu-link a:hover {
  color: #ADC62C;
}

.burger__menu-socials {
  margin-top: 205px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger__menu-social {
  margin-top: 26px;
}

.burger__menu-social:first-child {
  margin-top: 0;
}

.burger__menu-social a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #787878;
  font-weight: normal;
  text-align: center;
}

.burger__menu-social a:hover {
  color: #ADC62C;
}

.scroll-disallowed {
  overflow: hidden;
}

.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(9, 9, 9, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  position: fixed;
  z-index: 149;
}

.popup__box {
  width: 662px;
  height: 522px;
  background-color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 150;
}

.popup__button {
  position: absolute;
  top: 43px;
  right: 43px;
  cursor: pointer;
}

.popup__button:hover path {
  fill: #ADC62C;
}

.popup__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__container-name, .popup__container-phone {
  width: 383px;
  height: 56px;
  background-color: #FFFFFF;
  -webkit-border-radius: 48.5px;
          border-radius: 48.5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 22px;
  padding-left: 20px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 16px;
}

.popup__container-name:hover, .popup__container-name:focus, .popup__container-name:active, .popup__container-phone:hover, .popup__container-phone:focus, .popup__container-phone:active {
  border: 2px solid #ADC62C;
}

.popup__container-radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-right: 20px;
}

.popup__container-title {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #A7A7A7;
}

.popup__container-label {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #fff;
}

.popup__container-label:hover input ~ .popup__container-checkmark {
  background-color: #222;
}

.popup__container-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.popup__container-label input:checked ~ .popup__container-checkmark {
  background-color: #000;
}

.popup__container-label input:checked ~ p {
  color: #ADC62C;
}

.popup__container-label input:checked ~ .popup__container-checkmark:after {
  display: block;
}

.popup__container-checkmark {
  position: absolute;
  top: -3px;
  left: 50px;
  height: 20px;
  width: 20px;
  background-color: #000;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.popup__container-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.popup__container-label .popup__container-checkmark:after {
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #ADC62C;
}

.popup__container-buttons {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup__container-download {
  width: 195px;
  height: 84px;
  background-color: #2E2E2E;
  -webkit-border-radius: 42px;
          border-radius: 42px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__container-download:hover, .popup__container-download:focus {
  border: 1px solid #ADC62C;
}

.popup__container-download:hover svg path, .popup__container-download:focus svg path {
  fill: #ADC62C;
}

.popup__container-download p {
  width: 74px;
  height: 32px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-align: left;
  margin-right: 22px;
}

.popup__container-send {
  width: 164px;
  height: 84px;
  border: 1px solid #ADC62C;
  background-color: transparent;
  -webkit-border-radius: 42px;
          border-radius: 42px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  cursor: pointer;
}

.popup__container-send:hover, .popup__container-send:focus {
  border: 2px solid #ADC62C;
}

.top-menu {
  max-width: 1920px;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  z-index: 99;
}

.top-menu__logo {
  width: 120px;
  height: 120px;
  background-image: url(../img/logo.png);
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
}

.top-menu__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-menu__link {
  margin-right: 88px;
}

.top-menu__link a p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.top-menu__link a p:hover {
  color: #E2FE52;
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
          transform: scale3d(1.2, 1.2, 1.2);
}

.top-menu__link a svg:hover {
  color: #E2FE52;
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
          transform: scale3d(1.2, 1.2, 1.2);
}

.top-menu__link a svg:hover circle {
  stroke: #ADC62C;
}

.top-menu__link a svg circle {
  stroke: #fff;
}

.top-menu__link:last-child {
  margin-right: 41px;
}

.short {
  background-image: url(../img/logo-short.png) !important;
  width: 80px;
  height: 80px;
}

.first-screen {
  width: 100%;
  height: 975px;
  background-image: url(../img/screen-first.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-color: #222;
  position: relative;
}

.first-screen__left-grape__little {
  position: absolute;
  top: 325px;
  left: 345px;
}

.first-screen__left-grape__large {
  position: absolute;
  top: 644px;
  left: 0;
  z-index: 5;
}

.first-screen__center {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first-screen__center-grape {
  position: absolute;
  top: 174px;
  margin: auto;
}

.first-screen__center-bottle {
  position: absolute;
  top: 380px;
  margin: auto;
  margin-left: 40px;
  z-index: 5;
}

.first-screen__center-slider {
  z-index: 10;
  width: 100%;
  height: 900px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.first-screen__center-slider__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  display: none;
}

.first-screen__center-slider__content h1 {
  font-size: 109px;
  line-height: 109px;
  font-family: 'Source Serif Pro', serif;
  color: #fff;
  font-weight: lighter;
  text-align: center;
  letter-spacing: -5px;
  z-index: 2;
}

.first-screen__center-slider__content p {
  width: 558px;
  height: 78px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #D3D3D3;
  font-family: 'Roboto', sans-serif;
  z-index: 2;
}

.first-screen__center-slider__content img {
  width: 100%;
  position: absolute;
}

.first-screen__center-slider__control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 120px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 135px;
  width: 100%;
}

.first-screen__center-slider__number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 38px;
  font-family: 'Source Serif Pro', serif;
  color: #818181;
}

.first-screen__center-slider__slash {
  font-size: 68px;
  color: #818181;
}

.first-screen__center-slider__action {
  font-size: 68px;
  color: #ADC62C;
}

.first-screen__center-slider__buttons button {
  background-color: transparent;
}

.first-screen__right-grape__big {
  position: absolute;
  top: 187px;
  right: 0;
}

.first-screen__right-grape__small {
  position: absolute;
  top: 573px;
  right: 431px;
}

.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.two-screen {
  width: 100%;
  height: 1494px;
  background-image: url(../img/screen-two.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-color: #222;
  position: relative;
}

.two-screen__left-large {
  position: absolute;
  top: 334px;
  left: 0;
}

.two-screen__left-small {
  position: absolute;
  bottom: 152px;
  left: 240px;
}

.two-screen__center {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.two-screen__center-top {
  position: absolute;
  top: -30px;
  left: -90px;
}

.two-screen__center-bottom {
  position: absolute;
  bottom: -30px;
  right: -90px;
}

.two-screen__center-circle {
  width: 579px;
  height: 579px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #ADC62C;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
  margin-top: 400px;
}

.two-screen__center-circle__black {
  width: 307px;
  height: 307px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.two-screen__center-circle__black p {
  color: #E3FF51;
  font-size: 110px;
  font-family: 'Source Serif Pro', serif;
  cursor: default;
}

.two-screen__center-circle__text {
  width: 540px;
  height: 90px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  color: #fff;
  font-style: italic;
  bottom: 320px;
  z-index: 5;
  text-align: center;
  cursor: default;
}

.two-screen__center-circle__text a {
  color: #E3FF51;
  border-bottom: 1px solid #e3ff51;
}

.two-screen__right-large {
  position: absolute;
  top: 287px;
  right: 0;
}

.two-screen__right-small {
  position: absolute;
  top: 721px;
  right: 465px;
}

.three-screen {
  width: 100%;
  height: 957px;
  background-image: url(../img/screen-three.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-color: #222;
  position: relative;
  top: -1px;
}

.three-screen__left {
  position: absolute;
  top: 476px;
  left: 0;
}

.three-screen__center {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 81px;
}

.three-screen__center-text {
  cursor: default;
}

.three-screen__center-text h2 {
  font-size: 86px;
  line-height: 86px;
  color: #ADC62C;
  font-family: 'Source Serif Pro', serif;
  text-align: center;
}

.three-screen__center-text p {
  width: 876px;
  height: 90px;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #fff;
}

.three-screen__center-button {
  width: 172px;
  height: 77px;
  border: 1px solid #ADC62C;
  -webkit-border-radius: 38.5px;
          border-radius: 38.5px;
}

.three-screen__center-button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(2.6%, #ADC62C), color-stop(96.75%, #E2FE52));
  background-image: -webkit-linear-gradient(bottom, #ADC62C 2.6%, #E2FE52 96.75%);
  background-image: -o-linear-gradient(bottom, #ADC62C 2.6%, #E2FE52 96.75%);
  background-image: linear-gradient(360deg, #ADC62C 2.6%, #E2FE52 96.75%);
}

.three-screen__center-button:hover a {
  color: #000;
}

.three-screen__center-button a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.three-screen__right {
  position: absolute;
  top: 355px;
  right: 0;
}

.down {
  width: 100%;
  height: 200px;
  background-color: #000;
  position: relative;
  top: -1px;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 63px 0 86px;
}

.down-left p {
  font-size: 14px;
  line-height: 16px;
  color: #838383;
  cursor: default;
}

.down-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: auto;
}

.down-center p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #838383;
  margin-right: 51px;
  cursor: default;
}

.down-center-name, .down-center-phone {
  width: 252px;
  height: 54px;
  background-color: transparent;
  border: 1px solid #4E4E4E;
  -webkit-border-radius: 39px;
          border-radius: 39px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20px;
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 21px;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.down-center-name:hover, .down-center-name:focus, .down-center-name:active, .down-center-phone:hover, .down-center-phone:focus, .down-center-phone:active {
  border: 1px solid #ADC62C;
}

.down-center-send {
  width: 144px;
  height: 54px;
  background-color: #383838;
  -webkit-border-radius: 39px;
          border-radius: 39px;
  font-size: 14px;
  line-height: 16px;
  color: #838383;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.down-center-send:hover, .down-center-send:focus {
  border: 1px solid #ADC62C;
  color: #fff;
}

.down-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: default;
}

.down-right-color {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #838383;
}

.down-right-color span {
  color: #ADC62C;
  margin-left: 3px;
}
