* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-transition: .7s ease-in-out;
  -o-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  outline: none;
}

input::-ms-clear {
  display: none;
}

input::-webkit-input-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}

input::-moz-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  outline: none !important;
}

video:active, video:focus {
  outline: none !important;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

iframe {
  width: 100%;
  height: 100%;
}

/*----------------------------Start--Project----------------*/
.project__full {
  max-width: 2050px;
  margin: 0 auto;
}

.top {
  width: 100%;
  height: 50px;
  background-color: #333333;
}

.top__currency {
  position: relative;
}

.top__currency-content {
  margin: 0 0 20px 0;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 17px;
  left: 20%;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}

.top__currency-content:hover {
  color: #00C8C8;
}

@media screen and (max-width: 768px) {
  .top__currency-content {
    left: 10%;
  }
}

@media screen and (max-width: 468px) {
  .top__currency-content {
    left: 2%;
  }
}

.top__currency-span {
  padding-right: 3px;
}

.top__currency-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  padding: 0 0 0 10px;
  cursor: pointer;
  font-size: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}

.top__currency-name img {
  padding-left: 5px;
}

.top__currency-name:hover {
  color: #00C8C8;
}

.top__currency-text {
  display: none;
  padding: 10px 0 0 0;
  font-size: 16px;
  position: absolute;
  top: 32px;
  left: 40%;
  background: #333333;
  width: 80px;
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  z-index: 2;
}

.top__currency-text li {
  padding-bottom: 5px;
}

.top__currency-text a {
  color: #fff;
  padding: 0 5px;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}

.top__currency-text a:hover {
  color: #00C8C8;
}

.login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 15px;
  left: 60%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 1368px) {
  .login {
    left: 50%;
  }
}

@media screen and (max-width: 968px) {
  .login {
    left: 82%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.login a {
  color: #fff;
}

.login__register a {
  padding-right: 40px;
}

@media screen and (max-width: 768px) {
  .login__register a {
    padding: 0px;
  }
}

.top__empty {
  position: relative;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}

.top__empty-content {
  margin: 0 0 20px 0;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 20%;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}

.top__empty-content:hover {
  color: #00C8C8;
}

@media screen and (max-width: 968px) {
  .top__empty-content {
    right: 30%;
    top: -10px;
  }
}

.top__empty-span {
  padding-right: 20px;
  -webkit-transition-delay: .1s;
       -o-transition-delay: .1s;
          transition-delay: .1s;
}

.top__empty-span:hover {
  color: #00C8C8;
}

@media screen and (max-width: 360px) {
  .top__empty-span {
    display: none;
  }
}

.top__empty-name {
  letter-spacing: 2px;
  position: relative;
  padding: 0 0 0 10px;
  cursor: pointer;
  font-size: 14px;
  display: contents;
}

.top__empty-name img {
  padding: 0 10px;
}

.top__empty-text {
  display: none;
  padding: 10px 0 0 0;
  font-size: 16px;
  position: absolute;
  top: 32px;
  left: 0;
  background: #333333;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  z-index: 2;
}

@media screen and (max-width: 370px) {
  .top__empty-text {
    position: absolute;
    left: -65%;
  }
}

.top__empty-text li {
  padding-bottom: 5px;
}

.top__empty-text a {
  color: #fff;
  padding: 0 30px;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}

.top__empty-text a:hover {
  color: #00C8C8;
}

.burger-menu__button {
  position: fixed;
  top: 40px;
  right: 10px;
  z-index: 30;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: 0.4;
  -o-transition: 0.4;
  transition: 0.4;
  display: none;
}

@media screen and (max-width: 968px) {
  .burger-menu__button {
    display: block;
  }
}

.burger-menu__button:hover .burger-menu__lines {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
  position: absolute;
  width: 40px;
  height: 6px;
  background-color: #333;
}

.burger-menu__lines {
  top: 41px;
  left: 41px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.burger-menu__lines::before {
  content: "";
  top: -12px;
}

.burger-menu__lines::after {
  content: "";
  top: 12px;
}

.burger-menu_active .burger-menu__button,
.burger-menu_active .burger-menu__lines {
  background-color: transparent;
}

.burger-menu_active .burger-menu__lines::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 468px) {
  .burger-menu_active .burger-menu__lines::before {
    background-color: #fff;
  }
}

.burger-menu_active .burger-menu__lines::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 468px) {
  .burger-menu_active .burger-menu__lines::after {
    background-color: #fff;
  }
}

.burger-menu__nav {
  padding-top: 100px;
  position: fixed;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  background-color: #333;
  overflow-y: auto;
  left: -200%;
  -webkit-transition: 0.5;
  -o-transition: 0.5;
  transition: 0.5;
}

.burger-menu_active .burger-menu__nav {
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 468px) {
  .burger-menu_active .burger-menu__nav {
    right: 0;
  }
}

.burger-menu__nav {
  padding: 70px 20px;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #FFF;
}

.burger-menu__nav a {
  margin-top: 50px;
  color: #FFF;
}

.burger-menu__nav a:hover {
  color: #00C8C8;
  border-bottom: 2px solid #00c8c8;
  border-left: 2px solid #008c8c;
}

.burger-menu__link:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.burger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.burger-menu_active .burger-menu__overlay {
  display: block;
}

.footer__block {
  position: relative;
}

.search {
  width: 200px;
  position: relativ;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.search img {
  position: absolute;
  left: 170px;
  z-index: 3;
  top: 10px;
}

.search input {
  border: none;
}

.search .input {
  width: 100%;
  padding: 10px 35px 9px 15px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: #EEE;
  color: #555;
  outline: none;
}

.search .input:focus {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
  background: #E8E8E9;
  color: #333;
}

.search .submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  cursor: pointer;
  opacity: 0.5;
}

.search .submit:hover {
  opacity: 0.8;
}

input[type="search"] {
  -webkit-appearance: none;
}

.avenue {
  width: 100%;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
  position: relative;
}

.avenue__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 110px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.avenue__content-name {
  margin-right: 25%;
}

@media screen and (max-width: 1800px) {
  .avenue__content-name {
    margin-right: 20%;
  }
}

@media screen and (max-width: 1600px) {
  .avenue__content-name {
    margin-right: 10%;
  }
}

@media screen and (max-width: 1300px) {
  .avenue__content-name {
    margin-right: 2%;
  }
}

.avenue__content-name h1 {
  font-size: 28px;
  color: #000;
}

.avenue__content-name h1:hover {
  color: #00c8c8;
}

.avenue__content-name h1 span {
  font-weight: 800;
}

.avenue__content-name h1 span:hover {
  color: #00c8c8;
}

.avenue__content-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0 20px;
}

@media screen and (max-width: 968px) {
  .avenue__content-tabs {
    display: none;
  }
}

.men__content {
  margin: 0 60px 0px 0;
  color: #fff;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.men__name {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  padding: 0 0 0 10px;
  cursor: pointer;
  font-size: 14px;
  color: #000;
}

.men__name:hover {
  color: #00c8c8;
}

.men img {
  padding-top: 10px;
}

.men__text {
  display: none;
  padding: 10px 0 0 0;
  font-size: 16px;
  position: absolute;
  top: 100px;
  background: #fff;
  width: 470px;
  text-align: center;
  height: 520px;
  z-index: 2;
}

.men__text li {
  padding-bottom: 5px;
}

.men__text a {
  color: #727272;
  line-height: 1.6;
  padding: 0 5px;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}

.men__text a:hover {
  color: #00C8C8;
  border-bottom: 2px solid #00c8c8;
  border-left: 2px solid #008c8c;
}

.men__text-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: left;
}

.men__text-span {
  text-transform: uppercase;
  color: #333;
  margin: 10px 0 40px 5px;
}

.men__text-sale {
  width: 85%;
  height: 40%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333333;
  margin-top: 25px;
}

.men__text-sale span {
  font-size: 60px;
}

.womens__content {
  margin: 0 60px 0 0;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.womens__name {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  padding: 0 0 0 10px;
  cursor: pointer;
  font-size: 14px;
  color: #000;
}

.womens__name:hover {
  color: #00c8c8;
}

.womens img {
  padding-top: 10px;
}

.womens__text {
  display: none;
  padding: 10px 0 0 0;
  font-size: 16px;
  position: absolute;
  top: 100px;
  background: #fff;
  width: 470px;
  text-align: center;
  height: 520px;
  z-index: 2;
}

@media screen and (max-width: 370px) {
  .womens__text {
    position: absolute;
    left: -65%;
  }
}

.womens__text li {
  padding-bottom: 5px;
}

.womens__text a {
  color: #727272;
  line-height: 1.6;
  padding: 0 5px;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}

.womens__text a:hover {
  color: #00C8C8;
  border-bottom: 2px solid #00c8c8;
  border-left: 2px solid #008c8c;
}

.womens__text-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: left;
}

.womens__text-span {
  text-transform: uppercase;
  color: #333;
  margin: 10px 0 40px 5px;
}

.womens__text-sale {
  width: 85%;
  height: 40%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333333;
  margin-top: 25px;
}

.womens__text-sale span {
  font-size: 60px;
}

.brand {
  width: 130px;
  text-transform: uppercase;
  padding-right: 20px;
}

.brand a {
  color: #000;
}

.brand a:hover {
  color: #00C8C8;
}

.local__content {
  margin: 0 60px 0px 0;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: columns;
      -ms-flex-direction: columns;
          flex-direction: columns;
}

.local__name {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  padding: 0 0 0 10px;
  cursor: pointer;
  font-size: 14px;
  color: #000;
  width: 145px;
}

.local__name:hover {
  color: #00c8c8;
}

.local img {
  padding-top: 10px;
}

.local__text {
  display: none;
  padding: 10px 0 0 0;
  font-size: 16px;
  position: absolute;
  top: 100px;
  background: #fff;
  width: 10%;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 370px) {
  .local__text {
    position: absolute;
    left: -65%;
  }
}

.local__text li {
  padding-bottom: 5px;
}

.local__text a {
  color: #727272;
  line-height: 1.6;
  padding: 0 5px;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}

.local__text a:hover {
  color: #00C8C8;
  border-bottom: 2px solid #00c8c8;
  border-left: 2px solid #008c8c;
}

.local__text-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: left;
}

.local__text-span {
  text-transform: uppercase;
  color: #333;
  margin: 10px 0 40px 5px;
}

.local__text-sale {
  width: 85%;
  height: 40%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333333;
  margin-top: 25px;
}

.local__text-sale span {
  font-size: 60px;
}

.look__content {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.look__name {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  padding: 0 0 0 10px;
  cursor: pointer;
  font-size: 14px;
  color: #000;
  width: 145px;
}

.look__name:hover {
  color: #00c8c8;
}

.look img {
  padding-top: 10px;
}

.look__text {
  display: none;
  padding: 10px 0 0 0;
  font-size: 16px;
  position: absolute;
  top: 100px;
  right: 50px;
  background: #fff;
  width: 470px;
  text-align: center;
  height: 520px;
  z-index: 2;
}

@media screen and (max-width: 370px) {
  .look__text {
    position: absolute;
    left: -65%;
  }
}

.look__text li {
  padding-bottom: 5px;
}

.look__text a {
  color: #727272;
  line-height: 1.6;
  padding: 0 5px;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}

.look__text a:hover {
  color: #00C8C8;
  border-bottom: 2px solid #00c8c8;
  border-left: 2px solid #008c8c;
}

.look__text-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: left;
}

.look__text-span {
  text-transform: uppercase;
  color: #333;
  margin: 10px 0 40px 5px;
}

.look__text-sale {
  width: 85%;
  height: 40%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333333;
  margin-top: 25px;
}

.look__text-sale span {
  font-size: 60px;
}

.searchfull__block {
  position: relative;
  margin-left: 65px;
}

@media screen and (max-width: 1300px) {
  .searchfull__block {
    margin-left: 0;
  }
}

.searchfull {
  width: 200px;
  position: relativ;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchfull img {
  position: absolute;
  left: 170px;
  z-index: 3;
  top: 10px;
}

.searchfull input {
  border: none;
}

.searchfull .input {
  width: 100%;
  padding: 10px 35px 9px 15px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: #EEE;
  color: #555;
  outline: none;
}

.searchfull .input:focus {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
  background: #E8E8E9;
  color: #333;
}

.searchfull .submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  cursor: pointer;
  opacity: 0.5;
}

.searchfull .submit:hover {
  opacity: 0.8;
}

.bg {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg__img img {
  width: 100%;
  height: 450px;
}

.bg__name {
  position: absolute;
  color: #fff;
  top: 280px;
  left: 45%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 2px;
  padding: 0 20px;
}

@media screen and (max-width: 1250px) {
  .bg__name {
    left: 30%;
  }
}

@media screen and (max-width: 768px) {
  .bg__name {
    left: 18%;
  }
}

.bg__name h1 {
  font-size: 35px;
  margin-bottom: 55px;
}

.bg__name h1 span {
  font-size: 35px;
  font-weight: 900;
}

.bg__name span {
  font-size: 20px;
}

.lookblock {
  width: 100%;
  margin: 60px 0;
}

.lookblock__links {
  margin: 70px 30px 30px 125px;
}

@media screen and (max-width: 968px) {
  .lookblock__links {
    margin: 30px;
  }
}

.lookblock__links ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.lookblock__links li {
  padding-top: 5px;
}

.lookblock__links a {
  font-size: 12px;
  color: #444;
  margin: 15px;
  text-transform: uppercase;
}

.lookblock__links a:hover {
  color: #00C8C8;
  border-bottom: 2px solid #00c8c8;
  border-left: 2px solid #008c8c;
}

.lookblock__container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.lookblock__container-first, .lookblock__container-two, .lookblock__container-three {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse;
  position: relative;
}

.lookblock__container-first img, .lookblock__container-two img, .lookblock__container-three img {
  margin: 10px;
}

@media screen and (max-width: 968px) {
  .lookblock__container-first img, .lookblock__container-two img, .lookblock__container-three img {
    margin-right: 0;
  }
}

@media screen and (max-width: 468px) {
  .lookblock__container-first img, .lookblock__container-two img, .lookblock__container-three img {
    width: 100%;
  }
}

.lookblock__container-janes {
  padding: 10px 0;
  position: relative;
}

@media screen and (max-width: 468px) {
  .lookblock__container-janes {
    display: none;
  }
}

@media screen and (max-width: 968px) {
  .lookblock__container-janes img {
    width: 100%;
  }
}

.lookblock__container-win {
  padding: 10px 0;
  position: relative;
}

@media screen and (max-width: 568px) {
  .lookblock__container-win {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .lookblock__container-win img {
    width: 100%;
    height: 500px;
    background-color: #EFEFED;
  }
}

.lookblock__container-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333;
  padding: 25px 10px;
  position: absolute;
  top: 60px;
  left: 1%;
}

@media screen and (max-width: 968px) {
  .lookblock__container-text {
    top: 30px;
  }
}

.lookblock__container-text h2 {
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.lookblock__container-text p {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.lookblock__container-text span {
  font-size: 16px;
  margin-bottom: 35px;
  width: 40%;
  line-height: 1.5;
  letter-spacing: 1.1px;
}

@media screen and (max-width: 968px) {
  .lookblock__container-text span {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .lookblock__container-text span {
    width: 100%;
    margin-bottom: 15px;
    line-height: 1;
    letter-spacing: .8px;
  }
}

.lookblock__container-text a {
  width: 180px;
  height: 60px;
  background-color: transparent;
  border: 2px solid #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333;
}

@media screen and (max-width: 768px) {
  .lookblock__container-text a {
    width: 180px;
    height: 30px;
  }
}

.lookblock__container-text a:hover {
  background-color: #00c8c8;
  color: #fff;
  border: none;
}

.hover__img:hover {
  -webkit-box-shadow: -20px 20px 0 -17px #eee, 20px -20px 0 -17px #eee, 80px 80px 0 -80px #00c8c8, 0 0 0 3px #00c8c8;
          box-shadow: -20px 20px 0 -17px #eee, 20px -20px 0 -17px #eee, 80px 80px 0 -80px #00c8c8, 0 0 0 3px #00c8c8;
}

.lookbook {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lookbook__one, .lookbook__two, .lookbook__three {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #F8F8F8;
  margin: 0 10px;
  margin-top: 20px;
  padding: 10px 0;
}

.lookbook__photo {
  margin: 0 20px 0 0px;
}

.lookbook__photo img {
  width: 100%;
}

@media screen and (max-width: 468px) {
  .lookbook__photo img {
    display: none;
  }
}

.lookbook__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
  padding-right: 30px;
}

@media screen and (max-width: 468px) {
  .lookbook__content {
    padding-right: 0;
    text-align: left;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.lookbook__content-name {
  margin: 30px 0;
}

.lookbook__content-name h2 {
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.lookbook__content-name h3 {
  font-size: 38px;
  text-transform: uppercase;
}

.lookbook__content-text {
  margin-bottom: 35px;
  width: 300px;
}

@media screen and (max-width: 468px) {
  .lookbook__content-text {
    width: 98%;
  }
}

.lookbook__content-text span {
  font-size: 16px;
  line-height: 1.5;
}

.lookbook__content-button a {
  width: 180px;
  height: 60px;
  background-color: transparent;
  border: 2px solid #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333;
}

.lookbook__content-button a:hover {
  background-color: #00c8c8;
  color: #fff;
  border: none;
}

.bottom {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8F8;
  margin-top: 50px;
}

.bottom__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.bottom__information, .bottom__buy, .bottom__account, .bottom__lookbook, .bottom__contact {
  margin: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 968px) {
  .bottom__information, .bottom__buy, .bottom__account, .bottom__lookbook, .bottom__contact {
    margin: 20px;
  }
}

.bottom__information span, .bottom__buy span, .bottom__account span, .bottom__lookbook span, .bottom__contact span {
  font-size: 18px;
  margin: 50px 0px 30px 0px;
  color: #222;
  text-transform: uppercase;
  font-weight: bold;
}

.bottom__information ul, .bottom__buy ul, .bottom__account ul, .bottom__lookbook ul, .bottom__contact ul {
  padding-top: 25px;
}

.bottom__information li, .bottom__buy li, .bottom__account li, .bottom__lookbook li, .bottom__contact li {
  font-size: 14px;
  padding: 7px 0;
}

.bottom__information li a, .bottom__buy li a, .bottom__account li a, .bottom__lookbook li a, .bottom__contact li a {
  color: #333;
}

.bottom__information li a:hover, .bottom__buy li a:hover, .bottom__account li a:hover, .bottom__lookbook li a:hover, .bottom__contact li a:hover {
  color: #00c8c8;
}

.bottom__down {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 65px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.bottom__down-left {
  width: 570px;
  height: 205px;
  background-color: #333333;
  margin-right: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  color: #fff;
  letter-spacing: 3.5px;
}

@media screen and (max-width: 968px) {
  .bottom__down-left {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .bottom__down-left {
    width: 100%;
  }
}

.bottom__down-right {
  width: 570px;
  height: 205px;
  background-color: #00C8C8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 35px;
}

.bottom__down-right:hover {
  background-color: #333;
}

@media screen and (max-width: 968px) {
  .bottom__down-right {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .bottom__down-right {
    width: 100%;
  }
}

.bottom__down-right ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.bottom__down-right img {
  margin: 0 30px;
}

.bottom__down-right img:hover {
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}

.bottom__line {
  width: 100%;
  height: 60px;
  background-color: #222;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 0 10px;
}

.bottom__line span {
  font-size: 14px;
  color: #999;
}

.bottom__line a {
  font-size: 14px;
  color: #999;
  margin-left: 30px;
}

.bottom__line a:hover {
  color: #00c8c8;
}
